
@media (min-width: 800px) {
    .dashboard-wrapper {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media (max-width: 800px) {
    .button-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.button-group{
    background-color: rgb(26, 29, 32);
    display: flex;
    padding: 5px;
}

.nav-button {
    background-color: rgba(54, 76, 97, 0.687);
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color ease 0.3s;
    margin: 5px 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-button:hover {
    background-color: rgb(89, 120, 143);
}

.nav-button.active {
    background-color: rgb(100, 144, 105);
}

.content-area {
    padding: 20px;
    min-height: 100vh;
    max-height: 500vh;
    background-color: #f3f2f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}