.container-box {
    padding: 15px 0px;
}

.exercise-form-container {
    overflow-x: hidden;
    overflow-y:scroll;
    max-height: 600px;
}

.exercise-container {
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
}

.workout-input {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 6px;
    background-color: white;
    padding: 0 10px;
}

.workout-input input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    margin: 0;
}

.submit-log{
    background-color: #5a8c66;
    color: #ffffff;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    border: none;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.submit-log:hover {
    background-color: #6aa177;
}

.time-selection {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.radio-label input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.date-container {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
}